/** MAIN */

.inicio {
  background: linear-gradient(to right top, #0000008a, #0000008a), url(../img/grupo-gente-joven-cine_2.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: mostrar 1.0s both;
}

.titulo {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.subtituloPrincipal {
  text-align: center;
  text-transform: uppercase;
  display: block;
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.botonRegistrarse {
  background-color: rgb(46, 21, 65);
  /* background-color: var(--terciario); */
  color: #ffffff;
  padding: .8rem 2rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
}


/** BUSCADOR */

.inputBuscador {
  border: 2px solid white;
  border-radius: 25px;
  color: #000000;
  font-size: 1.2rem;
  height: 50px;
  margin: 20px 0px;
  outline: none;
  padding: 0px 20px;
  width: 500px;
}

.botonBuscador {
  background-color: rgb(114, 81, 139);
  display: inline-block;
  color: #ffffff;
  height: 50px;
  margin: 20px 10px;
  padding: 0 20px;
  border-radius: 25px;
  font-size: 1.2rem;
  font-weight: 700;
  border: 2px solid white;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.tituloSection {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.buscadorPeliculas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.buscadorPrincipal {
  background-color: #181419;
  color: rgb(255, 255, 255);
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noSeEncontro {
  width: 500px;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 10px auto;
  text-align: center;
  p {
    font-size: 1.3rem;
    margin: 0;
  }
  a {
    margin-top: 0;
    color: var(--primario);
    font-size: 1.3rem;
    cursor: pointer;
    border-bottom: 1px solid var(--primario);
  }
}

/** MOVIE CARDS (TENDENCIAS) */

.link{
  display: block;
  text-align: center;
  color: #777;
  text-decoration: none;
  padding: 10px;
}
.tendencias-cards {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
}
.movie_card{
  position: relative;
  width: 800px;
  height: 350px;
  margin: 40px auto; 
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
  &:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 80px -25px rgba(0,0,0, 0.5);
    transition: all 0.4s;
  }
  .info_section{
    position: relative;
    width: 100%;
    height: 100%;
	  background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    .movie_header{
      position: relative;
      padding: 25px 0 0 25px;
      height: 50%;
      h1{
        height: 60px;
        color: black;
        font-weight: 400;
        line-height: 0.8;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      h4{
        margin: 0;
        color: #555;
        font-weight: 400;
      }
      .minutes{
        display: inline-block;
        margin-top: 5px;
        color: #555;
        padding: 1px 5px;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.05);
      }
      .type{
        display: block;
        color: #494949;
        margin-left: 10px;
        font-size: 1.2rem;
        font-weight: 500;
      }
      .locandina{
        position: relative;
        float: left;
        margin-right: 20px;
        height: 150px;
        box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
      }
    }
    .movie_desc{
      padding: 10px 25px;
      height: 70%;
      .text{
        color: #545454;
        height: 60%;
        font-size: 1.3rem;
        overflow-y: scroll;
  
        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #e0e0e0;
          border-radius: 10px;
        }

      }
    }
    .movie_social{
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;
      ul{
        list-style: none;
        padding: 0;
        li{
          display: inline-block;
          color: rgba(0,0,0,0.3);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;
          &:hover{
            transition: color 0.3s;
            color: rgba(0,0,0,0.7);
          }
          i{
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .blur_back{
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
    border-radius: 11px;
    img {
      position: absolute;
      right: 0;
      top: -50px;
      border-radius: 11px;
    }
  }
}

.botonAntSigContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  column-gap: 20px;
  
  .botonAntSig {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    background-image: linear-gradient(rgb(114, 81, 139) 50%, rgb(46, 21, 65) 100%);
    color: var(--terciario);
    border-radius: 30px;
  
    transition: transform 0.3s;
    &:hover {
      transform: scale(.9,.9);
      background-image: linear-gradient(rgb(46, 21, 65) 0%, rgb(114, 81, 139) 50%);
      /** PARA AGREGARLE ANIMACION */
    }
  }
}


/*--------- ACLAMADAS --------*/

.aclamadas>h2{
  text-align: center;
  margin: 0 auto;
  width: 300px;
  font-size: 3rem;
  font-weight: 600;
  color: var(--terciario);
}
.aclamadasContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 1.5rem 0;
  overflow: scroll;
  overflow-y: hidden;
  cursor: pointer;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(54, 24, 77);
    border-radius: 10px;
  }

  .aclamadaItem{
    margin-right: 10px;
    margin-left: 10px;
    p{ 
      height: 20px; 
      opacity: 0;
      transition: opacity 0.3s;
    }
    &:hover{
      p{ opacity: 1;}
    }
    .imagen {
      width: 150px;
      height: 250px;
      border-radius: 10px;

        transition: filter 0.3s;
        transition: position top 0.5s; /* Esto creo que no funciona */
        &:hover{
          filter: blur(3px);
          position: relative;
          top: -10px;
          /* webkit-filter: blur(4px); */
        }
      }
  }
}